<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
  <title>Musician Trainer Edit Profile</title>
  <!-- This page CSS -->
  <!-- chartist CSS -->
  <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
  <!--Toaster Popup message CSS -->
  <link href="/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/dist/css/style.min.css" rel="stylesheet">
  <!-- Dashboard 1 Page CSS -->
  <link href="/dist/css/pages/dashboard1.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="skin-blue fixed-layout">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Musician Trainer</p>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:href="@{/}">
            <!-- Logo icon --><b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
          </b>
            <!--End Logo icon -->
            <!-- Logo text --><span>
                               <!-- dark Logo text -->
                               <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
                               <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav me-auto">
            <!-- This is  -->
            <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- User Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown u-pro">
              <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class=""> <span class="hidden-md-down">Mark &nbsp;<i class="fa fa-angle-down"></i></span> </a>
              <div class="dropdown-menu dropdown-menu-end animated flipInY">
                <!-- text-->
                <a href="#" th:href="@{/}" class="dropdown-item"><i class="ti-user"></i> My Dashboard</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a href="#" th:href="@{/user/showFormForEdit}" class="dropdown-item"><i class="ti-settings"></i> Edit Profile</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <ul class="navbar-nav"> <!-- Add a ul wrapper -->
                  <li sec:authorize="isAuthenticated()"> <!-- sec: is a Thymeleaf Security feature -->
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form1').submit();" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <form id="logout-form1" th:action="@{/logout}" method="POST" style="display: none;"></form>
                  </li>
                </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End User Profile -->
            <!-- ============================================================== -->
            <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="user-pro">
              <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                <span class="hide-menu">
                    <div th:if="${user}">
                        <p th:text="${user.name}"></p>
                    </div>
                </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="#" th:href="@{/}"><i class="ti-user"></i> My Dashboard</a></li>
                <li><a href="#" th:href="@{/user/showFormForEdit}"><i class="ti-settings"></i> Edit Profile</a></li>
                <li sec:authorize="isAuthenticated()">
                  <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form2').submit();">
                    <i class="fa fa-power-off"></i> Logout</a>
                  <form id="logout-form2" th:action="@{/logout}" method="POST" style="display: none;"></form>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">My Dashboard</h4>
          </div>
          <div class="col-md-7 align-self-center text-end">
            <div class="d-flex justify-content-end align-items-center">
              <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home > </a></li>
              </ol>
              <a role="button" class="btn btn-info d-none d-lg-block m-l-15 text-white"
                 th:href="@{/pieces/showAddPieceForm}">
                <i class="fa fa-plus-circle"></i>
                Create New Piece
              </a>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-12">
            <!-- ---------------------
                start Add Piece Form
            ---------------- -->
            <!-- Check for error flash attribute and display error message -->
            <div th:if="${error}">
              <div class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">

                <!-- display current name and email -->
                <div th:if="${user}">
                  <p th:text="'Name: ' + ${user.name}"></p>
                  <p th:text="'Email: ' + ${user.email}"></p>
                </div>

                <div class="card card-body">
                  <h4 class="card-title">Edit Piece Form</h4>
                  <form class="form-horizontal mt-4" th:action="@{/user/processFormForEdit}"
                        th:object="${webUser}" method="POST">

                    <!-- Place for messages: error, alert etc ... -->
                    <div class="form-group">
                      <div class="col-xs-15">
                        <div>

                          <!-- success message -->
                          <div th:if="${param.success}">
                            <div class="alert alert-info">You have successfully edited your profile!
                            </div>
                          </div>

                          <!-- Check for edit error -->

                          <div th:if="${error == 'emailExists'}">
                            <div class="alert alert-danger">Email already in use.</div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- User name -->
                    <div class="form-group">
                      <label class="form-label" for="name">Name and surname (*)</label>
                      <input type="text" id="name" class="form-control" th:field="*{name}" required autofocus="autofocus">
                    </div>
                    <div th:if="${#fields.hasErrors('name')}"
                         style="margin-bottom: 25px" class="text-danger">
                      <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="'Name and surname ' + ${err}" />
                      </ul>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <label class="form-label" for="email">Email (*)</label>
                      <input type="email" id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                    </div>
                    <div th:if="${#fields.hasErrors('email')}"
                         style="margin-bottom: 25px" class="text-danger">
                      <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                      </ul>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                      <label class="form-label" for="password">Password (*)</label>
                      <input type="password" id="password" class="form-control" th:field="*{password}" required autofocus="autofocus">
                    </div>
                    <div th:if="${#fields.hasErrors('password')}"
                         style="margin-bottom: 25px" class="text-danger">
                      <ul>
                        <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                      </ul>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                      <label class="form-label" for="matchingPassword">Confirm Password (*)</label>
                      <input type="password" id="matchingPassword" class="form-control" th:field="*{matchingPassword}" required autofocus="autofocus">
                    </div>

                    <button type="submit" class="btn btn-success me-2 text-white">Submit</button>
                    <span>No changes?
                      <a href="/" th:href="@{/}">Go Back to Home Page</a>
                    </span>
                  </form>
                </div>
              </div>
            </div>
            <!-- ---------------------
                end Add Piece Form
            ---------------- -->
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2024 Musician Trainer by Michal Střondala
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/dist/js/perfect-scrollbar.jquery.min.js"></script>
  <!--Wave Effects -->
  <script src="/dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/dist/js/custom.min.js"></script>
  <!-- ============================================================== -->
  <!-- This page plugins -->
  <!-- ============================================================== -->
  <!--morris JavaScript -->
  <script src="/assets/node_modules/raphael/raphael-min.js"></script>
  <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
  <script src="/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
  <!-- Popup message jquery -->
  <script src="/assets/node_modules/toast-master/js/jquery.toast.js"></script>
  <!-- Chart JS -->
  <script src="/dist/js/dashboard1.js"></script>
  <script src="/assets/node_modules/toast-master/js/jquery.toast.js"></script>
</body>

</html>
