<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Music Trainer</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/landing_page/css/landing-page-styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}">
                    <!-- Logo text --><span>
                    <!-- Light Logo text -->
                     <img src="/assets/images/musiciantrainer-logo-light-text.png" class="light-logo" alt="homepage" /></span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/showLoginPage}">Sign In</a></li>
                        <li class="nav-item separator">|</li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/register/showRegistrationForm}">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Elevate Your Musical Journey with Music Trainer</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Discover a seamless way to manage your music repertoire, log practice sessions effortlessly, gain performance insights, and access your customized musical dashboard.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/landing_page/assets/mockup_website.png" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Enhance Your Music Practice</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-music-note"></i></div>
                                <h2 class="h5">Piece Management</h2>
                                <p class="mb-0">Effortlessly add, edit, and organize your musical pieces. Keep track of details like name, composer, and priority.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar"></i></div>
                                <h2 class="h5">Practice Logging</h2>
                                <p class="mb-0">Log your practice sessions with ease. Record practice dates and add notes to monitor your training progress.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i></div>
                                <h2 class="h5">Performance Analytics</h2>
                                <p class="mb-0">Visualize your musical journey with performance analytics. Gain insights into your practice history and progress over time.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-layout-text-window-reverse"></i></div>
                                <h2 class="h5">Personalized Dashboard</h2>
                                <p class="mb-0">Access your personalized dashboard displaying your musical pieces, prioritized by importance and practice history.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Using the Music Trainer platform has revolutionized my practice routine. It's an invaluable tool for musicians at any level."</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="fw-bold">
                                    Pavel Szabo
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Musician and Composer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <!-- Call to action-->
                <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">Unlock Your Music Journey.</div>
                            <div class="text-white-50">Sign up to explore our musical practice platform or, if you already have an account, sign in below.</div>
                        </div>
                        <div class="ms-xl-4">
                            <div class="d-flex flex-column flex-sm-row align-items-center">
                                <a class="btn btn-outline-light mb-2 mb-sm-0 me-0 me-sm-3" th:href="@{/register/showRegistrationForm}">Sign Up</a>
                                <a class="btn btn-outline-light" th:href="@{/showLoginPage}">Sign In</a>
                            </div>
                            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">© 2024 Music Trainer by Michal Střondala & Pavel Szabo</div></div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
<!--    <script src="/landing_page/js/scripts.js"></script>-->
</body>
</html>
